<form class="layui-form">
  <div class="layui-form-item">
  <label class="layui-form-label">所属公司</label>
  <select name="cid">
    <option value="1">九星</option>
  </select>
</div>
  <div class="layui-form-item">
    <label class="layui-form-label">所属小组</label>
    <select name="gid">
      <option value="1">九星</option>
    </select>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">项目名称</label>
    <div class="layui-input-inline">
      <input type="text" name="project_name" lay-verify="required" placeholder="请输入项目名" autocomplete="off"  id="name" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">合同金额</label>
    <div class="layui-input-inline">
      <input type="text" name="money" lay-verify="required" placeholder="请输入合同金额" autocomplete="off" id="money" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="project">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form(),
            $ = layui.jquery
        //监听提交
        form.on('submit(project)', function(data){

            var userInfo = data.field;

            var url = "{:U('Project/addProject')}";
            $.post(url,userInfo,function(data){
                if(data.status == 'error'){
                    layer.msg(data.msg,{icon: 5});//失败的表情
                    return;
                }else if(data.status == 'success'){
                    layer.msg(data.msg, {
                        icon: 6,//成功的表情
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        location.reload();
                    });
                }
            })

            return false;//阻止表单跳转
        });
    });
</script>